/* COLORS
 *
 * black: #0f0f0f;
 * red:   #a53724;
 * blue:  #3e92af;
 * white: #b6b3a7;
 * grey:  #51504a;
**/

@font-face {
    font-family: 'nb';
    src: url('../assets/nb-international-mono-font.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

body {
  background: #0f0f0f;
  color: #b6b3a7;
  font-family: 'nb', sans-serif;
  min-width: 300px;
  min-height: 450px;
}

.center-flex {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.splash {
  position: relative;
  padding: 80px 0 80px;
}

.logo-svg {
  max-height: calc(100vh - 300px);
  min-height: 350px;
  max-width: calc(100vw - 30px);
  animation-name: changeLogoColor;
  animation-duration: 40s;
  animation-iteration-count: infinite;
}

.screen-fade {
  background: linear-gradient(180deg, rgba(15,15,15,0) 0%, rgba(15,15,15,0.75) 80%);
  height: 100%;
  width: 100%;
  position: absolute;;
}

.text {
  color: #b6b3a7;
  color: #51504a;
  letter-spacing: 0.3em;
  padding-left: 0.3em;
  /* animation-name: textflicker;
  animation-duration: .01s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  opacity: 0.7; */
  font-family: acumin-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
}

.flex-col {
  flex-direction: column;
}

.links {
  display: flex;
  padding: 0;
  list-style: none;
}

.link + .link {
  margin-left: 20px;
}

.link a {
  color: #51504a;
  text-decoration: none;
}

.ig-logo {
  position: relative;
  top: 1px;
}

.bandcamp-logo {
  position: relative;
  top: 2px;
}

.tikto-logo {
  posiion: relative;
  fill: #fff;
}

@media screen and (max-width: 485px) {
  .splash {
    padding-top: 40px;
    height: auto;
  }
}

@keyframes textflicker {
  from {
    text-shadow: 1px 0 0 #ea36af, -1px 0 0 #75fa69;
  }
  to {
    text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
  }
}

@keyframes changeLogoColor {
  0% {
    fill: #a53724;
  }

  25% {
    fill: #3e92af;
  }

  50% {
    fill: #b6b3a7;
  }

  75% {
    fill: #51504a;
  }

  100% {
    fill: #a53724;
  }
}
