.musicPage {
  margin: 5.1rem auto;
  padding: 4rem 2rem;
}

.header {
  color: var(--color-white);
  text-align: center;
  font-size: 8rem;
  font-weight: 200;
}

.header {
  text-align: center;
  font-size: 8rem;
  font-weight: 200;
}

.content {
  max-width: 110rem;
  width: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8rem;
}

.withBorder + .withBorder {
  border-top: 1px solid var(--color-dark-grey);
  padding-top: 8rem;
}
