.livePage {
  background: var(--color-dark-red);
  color: var(--color-white);
  width: 100vw;
  min-height: calc(100vh - 5.7rem);
  margin-top: 5.1rem; /* clears the nav bar's own height (5.1rem) so its transparent background doesn't overlap this page's background */
  padding: 4rem 0;
}

.content {
  max-width: 110rem;
  margin: 0 auto;
}

.header {
  text-align: center;
  font-size: 8rem;
  font-weight: 200;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.noShows {
  text-align: center;
  font-size: 1.6rem;
  color: var(--color-white);
}

@media (max-width: 774px) {
  .livePage {
    padding: 1rem 0 8rem;
    margin-top: 0;
  }
}
